<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <title>리뷰 등록</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 토스트 UI 에디터 불러오기 시작 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <!-- 토스트 UI 에디터 불러오기 끝 -->
</head>
<body>

<main layout:fragment="Content">

    <script>
        function copyEditorContentToTextarea() {
            const editorContent = editor1.getHTML(); // 에디터의 내용을 가져옵니다.
            document.getElementById("reviewContent").value = editorContent; // 숨겨진 <textarea>에 복사합니다.
        }
    </script>
    <div class="flex justify-center mx-auto max-w-5xl mt-20">
        <div class="w-full">
            <form id="reviewForm" action="/matzip/createWithReview" method="POST"
                  onsubmit="copyEditorContentToTextarea();">
                <input type="hidden" name="matzipName" id="matzipNameInput">
                <input type="hidden" name="address" id="addressInput">
                <input type="hidden" name="phoneNumber" id="phoneNumberInput">
                <input type="hidden" name="rating" id="ratingInput">
                <input type="hidden" name="matzipType" id="matzipTypeInput">
                <div class="flex flex-col">
                    <span class="font-bold text-xl p-3 border-b border-gray-400"><i
                            class="fa-regular fa-pen-to-square"></i> 리뷰 작성</span>
                    <div class="flex p-3">
                        <div class="flex-grow">
                            <div class="flex items-center">
                                <span class="font-bold text-xl mr-3" id="matzipName"></span>
                                <button class="btn btn-outline btn-xs" type="submit">상세보기</button>
                            </div>
                            <div class="flex flex-col">
                                <span id="matzipType"></span>
                                <span id="address"></span>
                                <span id="phoneNumber"></span>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <span class="mb-2 text-lg">별점</span>
                            <div class="rating rating-md rating-half" id="rating">
                                <input id="rating-0.5" type="radio" name="rating" value="0.5"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-1" disabled/>
                                <input id="rating-1.0" type="radio" name="rating" value="1.0"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-2" disabled/>
                                <input id="rating-1.5" type="radio" name="rating" value="1.5"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-1" disabled/>
                                <input id="rating-2.0" type="radio" name="rating" value="2.0"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-2" disabled/>
                                <input id="rating-2.5" type="radio" name="rating" value="2.5"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-1" disabled/>
                                <input id="rating-3.0" type="radio" name="rating" value="3.0"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-2" disabled/>
                                <input id="rating-3.5" type="radio" name="rating" value="3.5"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-1" disabled/>
                                <input id="rating-4.0" type="radio" name="rating" value="4.0"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-2" disabled/>
                                <input id="rating-4.5" type="radio" name="rating" value="4.5"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-1" disabled/>
                                <input id="rating-5.0" type="radio" name="rating" value="5.0"
                                       class="bg-yellow-500 mask mask-star-2 mask-half-2" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col p-3">
                        <input type="file" class="file-input file-input-bordered w-full"/>
                        <div class="flex justify-between my-2">
                            <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20230315_55%2F1678864965197X3zz0_JPEG%2FIMG_6113.JPEG"
                                 class="w-40 h-40 object-cover"/>
                        </div>
                        <div>
                            <div>
                                <div class="mt-2 flex justify-center">
                                    <!-- 에디터 시작 -->
                                    <div id="editor-1" class="editor-ui w-full break-all"></div>
                                    <!-- 에디터 끝 -->
                                    <input id="reviewContent" type="hidden" name="reviewContent">
                                </div>
                            </div>

                            <div class="mt-2 flex justify-end">
                                <button class="btn btn-neutral btn-sm" type="submit">등록하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        // 에디터 클래스를 사용하기 쉽도록 변경(여기서 `쉽다`는 뜻은 `짧게 쓸 수 있다`라는 뜻)
        const Editor = toastui.Editor;
        const editor1 = new Editor({
            el: document.querySelector("#editor-1"),
            initialEditType: 'wysiwyg',
            initialValue: "",
            height: "50vh",
            previewStyle: "vertical",
            placeholder: "리뷰 내용을 입력해주세요"
        });
        document.addEventListener("DOMContentLoaded", function () {
            const content = document.getElementById("reviewContent"); // 게시글 수정 시 기존 데이터 토스트 에디터 편집창에 출력
            if (content.value) {
                editor1.setHTML(content.value);
            }
        });

        // 세션 스토리지에서 저장된 맛집 정보를 가져옵니다
        var matzipCreationDTOString = sessionStorage.getItem('matzipCreationDTO');
        var matzipCreationDTO = JSON.parse(matzipCreationDTOString);

        // 맛집 정보를 화면에 표시합니다
        document.getElementById('matzipName').textContent = matzipCreationDTO.matzipName;
        document.getElementById('address').textContent = matzipCreationDTO.address;
        document.getElementById('phoneNumber').textContent = matzipCreationDTO.phoneNumber;
        document.getElementById('matzipType').textContent = matzipCreationDTO.matzipType;

        var ratingContainer = document.getElementById(eval("'rating-" + matzipCreationDTO.rating + "'"));
        ratingContainer.checked = true;

        var newRating = ratingContainer.value;
        console.log("newRating = " + newRating);

        // 맛집 정보를 히든 필드에 설정합니다
        document.getElementById('matzipNameInput').value = matzipCreationDTO.matzipName;
        document.getElementById('addressInput').value = matzipCreationDTO.address;
        document.getElementById('phoneNumberInput').value = matzipCreationDTO.phoneNumber;
        document.getElementById('ratingInput').value = ratingContainer.value;
        document.getElementById('matzipTypeInput').value = matzipCreationDTO.matzipType;

        // 리뷰 작성 폼 제출 시 처리할 함수
        document.getElementById('reviewForm').addEventListener('submit', function (event) {
            event.preventDefault(); // 기본 동작인 폼 제출을 막습니다
            // 서버로 맛집 정보를 전송합니다
            // CSRF 토큰을 가져옵니다
            var csrfToken = document.querySelector('meta[name=_csrf]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name=_csrf_header]').getAttribute('content');


            // 서버로 리뷰 작성 폼을 제출합니다
            fetch('/matzip/createWithReview', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken  // CSRF 토큰을 헤더에 포함합니다
                },
                body: JSON.stringify({
                    matzipCreationDTO: matzipCreationDTO,
                    reviewCreationDTO: {
                        content: document.getElementById('reviewContent').value,
                        rating: document.querySelector('input[name="rating"]:checked')?.value ?? 0
                    }
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('맛집 등록과 리뷰가 작성되었습니다!');
                        window.location.href = '/matzip/list';
                    } else {
                        alert('리뷰 작성에 실패했습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('리뷰 작성에 실패했습니다.');
                });
        });
    </script>
</main>

</body>

</html>