<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>리뷰 상세페이지</title>
    <style>
        .text-content {
            max-height: 600px;
            overflow: hidden;
        }

        .fade-out {
            height: 20px;
            background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 1)
            );
            position: relative;
            bottom: 20px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .button-container {
            display: none;
        }

        .button-container.show {
            display: flex;
        }

        .button-container.show .read-more {
            display: inline-block;
        }

        .button-container.show .read-less {
            display: none;
        }

        .fade-out.show {
            opacity: 1;
        }

        .selectedImageContainer {
            width: 120px;
            height: 120px;
            border: 2px solid #CCC;
            border-radius: 4px;
            overflow: hidden;
        }
    </style>
</head>
<body>

<main layout:fragment="Content">
    <div class="flex justify-center mx-auto max-w-5xl">
        <div class="w-full">
            <!-- 작성자 부분 -->
            <div class="flex justify-between border-b border-gray-400">
                <div class="flex justify-start items-center">
                    <img th:src="${reviewDetailDTO.profileImageUrl}" alt=""
                         class="w-14 h-14 object-cover m-3 rounded-full">
                    <div>
                        <div class="flex items-center mb-1">
                            <div class="text-xl font-bold" th:text="${reviewDetailDTO.authorNickname}"></div>
                            <div class="flex mx-2">
                                <div th:each="badge : ${reviewDetailDTO.badgeImage}">
                                    <img th:src="${badge.key}" class="w-7 h-7 rounded-full mr-1"
                                         th:title="${badge.value}">
                                </div>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="text-sm mr-4" th:text="${reviewDetailDTO.formattedCreateDate}"></div>
                            <!-- TODO -->
                            <div class="text-sm mr-1">조회수</div>
                            <div class="text-sm mr-4" id="viewCount"></div>
                            <button class="text-sm mr-1" id="heartButton">
                                <i class="fa-regular fa-heart" style="color: #d70707;"></i>
                            </button>
                            <div class="text-sm mr-4" id="heartCount"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 게시글 내용 -->
            <div class="m-4">
                <div class="mb-3 flex">
                    <div>
                        <div class="flex items-center">
                            <span class="font-bold text-xl mr-3" th:text="${reviewDetailDTO.matzipName}"></span>
                            <a th:href="${reviewDetailDTO.matzipUrl}" target="_blank">
                                <button class="btn bg-blue-800 hover:bg-blue-500 text-white btn-xs" type="submit">상세보기</button>
                            </a>
                        </div>

                        <span th:text="${reviewDetailDTO.matzipType}"></span>
                    </div>
                    <div class="flex-grow">
                    </div>
                    <div class="align-center">
                        <span>평점 : </span>
                        <div class="rating rating-md rating-half" th:attr="data-rating=${reviewDetailDTO.rating}">
                            <input type="radio" name="rating" value="0.5"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-1" disabled/>
                            <input type="radio" name="rating" value="1.0"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-2" disabled/>
                            <input type="radio" name="rating" value="1.5"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-1" disabled/>
                            <input type="radio" name="rating" value="2.0"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-2" disabled/>
                            <input type="radio" name="rating" value="2.5"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-1" disabled/>
                            <input type="radio" name="rating" value="3.0"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-2" disabled/>
                            <input type="radio" name="rating" value="3.5"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-1" disabled/>
                            <input type="radio" name="rating" value="4.0"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-2" disabled/>
                            <input type="radio" name="rating" value="4.5"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-1" disabled/>
                            <input type="radio" name="rating" value="5.0"
                                   class="bg-yellow-300 mask mask-star-2 mask-half-2" disabled/>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div th:each="imageUrl : ${reviewDetailDTO.imageUrls}">
                        <img th:src="${imageUrl}" class="w-40 h-40 object-cover mr-3"/>
                    </div>
                </div>
                <span class="mt-5 inline-block max-h-[600px] overflow-hidden break-all" id="text-content"
                      th:text="${reviewDetailDTO.content}">
                </span>
            </div>

            <!-- 수정/삭제 버튼 -->
            <div class="flex justify-end mt-6">
                <div class="flex">
                    <a href="javascript:void(0);" class="btn bg-blue-800 hover:bg-blue-500 text-white btn-sm mx-2"
                       th:if="${reviewDetailDTO.authorId != null and reviewDetailDTO.loginId == reviewDetailDTO.authorId}"
                       onclick="showModifyConfirmDialogMsg('정말로 수정하시겠습니까?', this)">
                        수정
                    </a>
                    <form hidden th:action="@{|/review/modify/${reviewDetailDTO.reviewId}|}" method="GET">
                    </form>
                </div>
                <div class="flex">
                    <a href="javascript:void(0);" class="btn bg-blue-800 hover:bg-blue-500 text-white btn-sm mx-2"
                       th:if="${reviewDetailDTO.authorId != null and reviewDetailDTO.loginId == reviewDetailDTO.authorId}"
                       onclick="showDeleteConfirmDialogMsg('정말로 삭제하시겠습니까?', this)">
                        삭제
                    </a>
                    <form hidden th:action="@{|/review/delete/${reviewDetailDTO.reviewId}|}" method="POST"></form>
                </div>
            </div>

            <div class="">
                <div class="border-b border-gray-400 pb-2 flex items-center">
                    <i class="fa-regular fa-comments"></i>
                    <div class="text-gray-600 ml-2">
                        COMMENT
                    </div>
                    <div class="text-gray-600 ml-3"></div>
                </div>

                <!-- 댓글 -->
                <div class="m-2 border-b border-gray-300" th:each="comment : ${commentInfoDTOS}">
                    <!-- 댓글 작성자 -->
                    <div class="flex justify-between">
                        <div class="flex justify-start items-center">
                            <img th:src="${comment.profileImageUrl}" alt=""
                                 class="w-10 h-10 object-cover m-3 rounded-full">
                            <div>
                                <div class="flex items-center mb-1">
                                    <div class="" th:text="${comment.authorNickname}"></div>
                                </div>

                                <div class="flex">
                                    <div class="text-xs mr-2" th:text="${comment.formattedCreateDate}"></div>
                                    <a href="javascript:void(0);" class="text-xs mr-1 hover:underline"
                                       th:if="${comment.authorId != null and comment.loginId == comment.authorId}"
                                       onclick="showDeleteConfirmDialogMsg('정말로 삭제하시겠습니까?', this)">
                                        삭제
                                    </a>
                                    <form hidden th:action="@{|/comment/delete/${comment.id}|}" method="POST"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 댓글 내용 -->
                    <div class="flex mb-4 ml-3 mr-3">
                        <div class="inline-block max-h-[600px] overflow-hidden break-all"
                             th:text="${comment.content}"></div>
                    </div>
                </div>
            </div>
            <!-- 댓글 입력칸 -->
            <div class="m-3 border-b border-gray-300">
                <div class="flex m-4 justify-center">
                    <form class="w-full" th:action="@{|/comment/create/${reviewDetailDTO.reviewId}|}" method="POST">
                        <div class="flex items-center">
                            <textarea rows="2" placeholder="댓글을 남겨보세요" class="border-2 border-blue-800 resize-none p-4"
                                      name="content" style="width: 100%;"></textarea>
                        </div>
                        <div class="flex justify-end mt-2">
                            <button class="btn bg-blue-800 hover:bg-blue-500 text-white btn-sm" type="submit">등록
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script th:inline="javascript">
        // 리뷰에 등록되어 있던 별점을 표시하는 script
        document.addEventListener('DOMContentLoaded', function () {
            const ratingElem = document.querySelector('.rating');
            const ratingValue = parseFloat(ratingElem.dataset.rating);
            const inputElems = ratingElem.querySelectorAll('input');

            inputElems.forEach(function (inputElem) {
                if (parseFloat(inputElem.value) === ratingValue) {
                    inputElem.setAttribute('checked', '');
                }
            });
        });

        // 조회수 가져오기
        $(document).ready(function () {
            const reviewId = /*[[${reviewDetailDTO.reviewId}]]*/ null;
            const viewText = $('#viewCount');
            if (reviewId) {
                $.ajax({
                    type: "GET",
                    url: "/review/getViewCount",
                    data: {
                        reviewId: reviewId
                    },
                    dataType: "text",
                    success: function (data) {
                        $(viewText).text(data)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            const heartText = $('#heartCount');
            if (reviewId) {
                $.ajax({
                    type: "GET",
                    url: "/review/getHeartCount",
                    data: {
                        reviewId: reviewId
                    },
                    dataType: "text",
                    success: function (data) {
                        $(heartText).text(data)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            const heartButton = $('#heartButton');
            const heartIcon = heartButton.find('i');

            if (/*[[${reviewDetailDTO.isHeart}]]*/ false) {
                heartIcon.addClass('fa-solid').removeClass('fa-regular');
            } else {
                heartIcon.addClass('fa-regular').removeClass('fa-solid');
            }

            heartButton.click(function () {
                heartIcon.toggleClass('fa-regular fa-solid');

                const requestData = {
                    reviewId: reviewId,
                };

                $.ajax({
                    type: "POST",
                    url: "/review/updateHeart",
                    data: requestData,
                    success: function (response) {
                        updateCount(reviewId);
                        console.log("업데이트 성공");
                    },
                    error: function (error) {
                        console.log("업데이트 실패");
                    }
                });
            });
        })

        function updateCount(reviewId) {
            const heartText = $('#heartCount');
            $.ajax({
                type: "GET",
                url: "/review/getHeartCount",
                data: {
                    reviewId: reviewId
                },
                dataType: "text",
                success: function (data) {
                    $(heartText).text(data)
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>
</main>

</body>

</html>