<html lang="en">
<head>
    <th:block th:replace="common/fragments/config :: ConfigFragment"/>
    <title>Main</title>
    <style>
        .demo-02 {
            font-size: 100%;
            transition-duration: 3s;
        }

        .demo-02:hover {
            font-size: 100%;
        }
    </style>

    <style>
        .hero {
            background-image: url('/img/main.gif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
<main>
    <div class="hero min-h-screen">
        <div class="hero-overlay"></div>
        <div class="hero-content text-center text-neutral-content w-full">
            <div class="max-w-full">
                <h1 class="mb-5 text-5xl font-bold">"환영합니다!"</h1>
                <br>
                <p class="text-lg">프로젝트 맛집은 여러분의 완벽한 외식생활을 위한 맛집지도를 만들 수 있게 도와주는 프로젝트 입니다.</p>
                <br>
                <p class="text-lg">이 프로젝트를 통해 맛집에 대한 평가와 기록을 남기고 나의 지도를 친구들과 공유할 수 있습니다.</p>
                <br>
                <p class="text-lg">여행한 지역 혹은 여행 할 지역의 사람들과 친구를 맺고 타인의 맛집 지도를 참고하여 맛집지도를 확장할 수도 있습니다.</p>
                <br>
                <p class="text-lg">타인에게 맛집에 대한 정보나 리뷰를 제공할 경우 포인트를 쌓아 순위를 올리고 칭호와 뱃지를 얻어 성취감을 얻을 수도 있습니다.</p>
                <br>
                <p class="mb-5 text-lg">지금 카카오 계정으로 로그인하고 나만의 맛집 지도를 만들어보세요!</p>
                <a href="/oauth2/authorization/kakao">
                    <button class="btn btn-outline btn-warning demo-02">시작하기</button>
                </a>
            </div>
        </div>
    </div>
</main>
</body>

</html>