<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Matzip</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #map {
            position: relative;
            width: 90vw;
            height: 90vh;
        }

        #placeInfo {
            display: none;
            position: absolute;
            width: 500px;
            top: 10px;
            right: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

        #placeInfo h2 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        #placeName {
            display: inline-block;
            margin-right: 8px;
        }

        #placeName + a {
            margin-left: 8px;
        }

        #placeInfo p {
            margin: 5px 0;
        }

        #reviewListContainer {
            transition: height 0.5s; /* 높이에 대한 0.5초 동안의 transition 효과 설정 */
        }
    </style>
</head>
<body>
<main layout:fragment="Content">
    <div class="flex flex-shrink-0 btn-group justify-end mt-40">
        <div class="btn-group rounded-md border border-blue-200 my-5">
            <button class="btn-s bg-blue-800 text-white rounded-md py-1 px-3 space-x-2 mr-2"
                    data-list-type="all"
                    id="listBtnAll"
                    onclick="toggleList('all')">
                ALL
                <span class="loading loading-spinner-sm inline" id="listSpinnerAll" style="display: none;"></span>
            </button>

            <button class="btn-s rounded-md py-1 px-3 space-x-2"
                    data-list-type="my"
                    id="listBtnMy"
                    onclick="toggleList('my')">
                MY
                <span class="loading loading-spinner-sm inline" id="listSpinnerMy" style="display: none;"></span>
            </button>
        </div>
    </div>
    <div class="flex justify-end space-x-4">
        <input class="input input-bordered w-full max-w-xs border-2 border-blue-800"
               id="searchInput"
               placeholder="맛집 이름, 주소로 검색" type="text">
        <select class="rounded-md py-1 px-3 border-2 border-blue-800 focus:ring-2 focus:ring-blue-600"
                id="matzipTypeSelect">
            <option value="ALL">전체</option>
            <option value="KOREAN">한식</option>
            <option value="JAPANESE">회/일식</option>
            <option value="CHINESE">중식</option>
            <option value="ASIAN">아시안</option>
            <option value="BAR">술집</option>
            <option value="CAFE">카페</option>
            <option value="ETC">기타</option>
        </select>
        <button class="btn bg-blue-800 hover:bg-blue-500 rounded-md py-1 px-3 text-white" id="filterBtn"
                onclick="search()">
            검색
        </button>

        <button class="btn bg-blue-800 hover:bg-blue-500 text-white py-1 px-3" id="matzipCreationButton"
                onclick="goToMatzipCreationPage()">
            맛집 등록
        </button>
    </div>
    <div class="mt-3 shadow-lg" id="map">
        <div id="placeInfo">
            <h2 id="placeName">맛집 이름</h2>
            <p id="placeAddress">주소</p>
            <p id="placePhone">전화번호</p>
            <p id="placeDescription">설명</p>
            <p id="placeRating">내 평점</p>
            <a class="w-full text-white rounded-3xl py-2 h-8 flex items-center justify-center shadow"
               style="background-color: #2E8B57;"
               id="mapLink"
               target="_blank">큰지도 보기</a>
            <br>
            <a class="w-full font-bold rounded-3xl py-2 h-8 flex items-center justify-center shadow bg-opacity-50 bg-blue-400"
               id="routeLink"
               target="_blank">길찾기</a>
            <br>
            <a class="w-full font-bold text-white rounded-3xl py-2 h-8 flex items-center justify-center shadow bg-green-500"
               id="detailLink"
               target="_blank">상세정보</a>
            <br>
            <a class="w-full font-bold  rounded-3xl py-2 h-8 flex items-center justify-center shadow bg-green-600"
               id="reviewButton">리뷰 등록</a>
            <hr>
            <div class="mt-3" id="reviewList">
                <span class="text-lg"><i class="fa-solid fa-magnifying-glass"></i> 리뷰</span>
                <div id="noReview" style="display: block;">리뷰가 없습니다.</div>
                <ul id="reviewListContainer" style="display: none; height: 500px; overflow-y:scroll;"></ul>
            </div>
        </div>
    </div>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=868d9aa6d8d0e67bad6c59729809c3fa&libraries=services,clusterer"
            type="text/javascript"></script>
    <script>
        //세션에서 x,y 좌표 가져오기
        var storedX = sessionStorage.getItem("x");
        var storedY = sessionStorage.getItem("y");
        var centerLocation;

        if (storedX && storedY) {
            // 세션 스토리지에 좌표가 있는 경우 해당 좌표를 사용합니다
            centerLocation = new kakao.maps.LatLng(storedY, storedX);
            mapLevel = 3;
        } else {
            // 좌표가 없는 경우 기본 위치를 사용합니다
            centerLocation = new kakao.maps.LatLng(37.56682, 126.97865);
            mapLevel = 7;
        }

        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: centerLocation,
                level: mapLevel,
                mapTypeId: kakao.maps.MapTypeId.ROADMAP
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPLEFT는 왼쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPLEFT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.LEFT);

        //map 설정이 끝났으니 세션에 담겨있던거 삭제
        sessionStorage.clear();

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({zIndex: 1});

        var imageSrc = "https://ifh.cc/g/64zAsK.png";
        var imageSize = new kakao.maps.Size(36, 37);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
        var currentInfoWindow = null;
        var markers = [];
        var nonFilteredData;
        let currentListType = "all";
        let currentReviewsType = "all";
        var currentReviews = [];
        let currentMatzipId = null; // 이전에 클릭한 마커의 맛집 아이디


        var placeInfo = document.getElementById('placeInfo');
        var reviewList = document.getElementById('reviewList')
        var placeName = document.getElementById('placeName');
        var placeAddress = document.getElementById('placeAddress');
        var placePhone = document.getElementById('placePhone');
        var placeDescription = document.getElementById('placeDescription');
        var placeRating = document.getElementById('placeRating')
        var mapLink = document.getElementById('mapLink');
        var routeLink = document.getElementById('routeLink');
        var detailLink = document.getElementById('detailLink');
        var reviewButton = document.getElementById('reviewButton');
        let isGotAllReviews = false; // 모든 리뷰를 받았는지

        // 마커 클러스터러를 생성합니다 (마커 여러개 하나로 묶어서 표시해줌)
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 7 // 클러스터 할 최소 지도 레벨
        });


        //지도 영역 외의 다른 부분을 클릭했을 때 placeInfo, reviewList, infoWindow를 숨깁니다.
        document.addEventListener('click', function (event) {
            var target = event.target;
            var mapContainer = document.getElementById('map');
            var placeInfo = document.getElementById('placeInfo');

            var reviewList = document.getElementById('reviewList');
            if (target !== mapContainer && !mapContainer.contains(target) && target !== placeInfo && !placeInfo.contains(target)) {
                placeInfo.style.display = 'none'; // Hide place info
                reviewList.style.display = 'none';
                if (currentInfoWindow) {
                    currentInfoWindow.close();
                }
            }
        });

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            if (markers.length > 0) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];
            }
        }

        loadMatzipList("/matzip/api/list");

        function showInfoWindow(marker, matzip) {
            if (matzip.matzipName.length > 9) {
                iwContent = '<div style="padding:5px; overflow-wrap: break-word; font-size:0.8em;">' + matzip.matzipName + '</div>'
            } else {
                iwContent = '<div style="padding:5px; overflow-wrap: break-word;">' + matzip.matzipName + '</div>';
            }
            infowindow.setContent(iwContent);
            infowindow.open(map, marker);
        }

        //맛집 리스트 로드 함수. (apiUrl에 따라 다른 리스트 불러옴, 맨 아래에 있음)
        function loadMatzipList(apiUrl, callback) {
            removeMarker();
            clusterer.clear();
            // 서버에 matzip 정보를 요청합니다
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    //전역 변수에 넘어온 모든 데이터 할당
                    nonFilteredData = data;
                    // 각 맛집 정보에 대해서 반복 처리를 합니다
                    data.forEach(matzip => {
                        const marker = createMarker(map, matzip, markerImage);
                        addMarkerClickEvent(marker, matzip);
                        markers.push(marker);
                    });
                    clusterer.addMarkers(markers);
                    if (callback) callback();
                })
                .catch((error) => {
                    if (callback) callback();
                });
        }

        //검색 결과 반환하는 함수
        function loadMatzipListWithFilteredList(filteredList) {
            removeMarker();
            clusterer.clear();
            filteredList.forEach(matzip => {
                const marker = createMarker(map, matzip, markerImage);
                addMarkerClickEvent(marker, matzip);
                markers.push(marker);
            });

            clusterer.addMarkers(markers);
        }

        // 마커에 클릭 이벤트 리스너를 추가하는 함수


        function createMarker(map, matzip, markerImage) {
            // 해당 위치에 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(matzip.y, matzip.x),
                title: matzip.matzipName,
                image: markerImage,
            });
            marker.matzipId = matzip.matzipId;
            return marker;
        }


        function showPlaceInfo(marker, matzip) {
            // 장소 정보를 업데이트합니다.
            placeName.innerText = matzip.matzipName;
            placeAddress.innerText = '주소: ' + matzip.address;
            placePhone.innerText = '전화번호: ' + matzip.phoneNumber;
            // 설명이나 평점이 없는 경우, 해당 요소를 숨깁니다
            if (matzip.description === "" && matzip.rating === 0) {
                placeDescription.style.display = 'none';
                placeRating.style.display = 'none';
            } else {
                placeDescription.style.display = 'block';
                placeDescription.innerText = '설명: ' + matzip.description;
                // 내 평점을 별점으로 표시합니다
                placeRating.style.display = 'block';
                placeRating.innerHTML = `
      <div class="flex">
        <span class="mb-2"> 평점: </span>
        <span class="rating rating-md rating-half" id="rating">
        </span>
      </div>
    `;
                const ratingValue = matzip.rating;
                const ratingDiv = document.getElementById("rating");

                for (let i = 1; i <= 10; i++) {
                    const value = i * 0.5;
                    const input = document.createElement('input');
                    input.type = 'radio';
                    input.className = 'bg-yellow-500 mask mask-star-2';
                    input.name = 'rating';
                    input.value = value.toFixed(1);
                    input.id = 'rating-' + value.toFixed(1);
                    input.disabled = true;

                    if (i % 2 != 0) {
                        input.classList.add('mask-half-1');
                    } else {
                        input.classList.add('mask-half-2');
                    }

                    ratingDiv.appendChild(input);
                }
                const ratingContainer = document.getElementById('rating-' + ratingValue.toFixed(1));

                if (ratingContainer) {
                    ratingContainer.checked = true;
                }
            }
            mapLink.href = 'https://map.kakao.com/link/map/' + matzip.matzipName + ',' + matzip.y + ',' + matzip.x;
            mapLink.innerText = '큰지도보기';
            routeLink.href = 'https://map.kakao.com/link/to/' + matzip.matzipName + ',' + matzip.y + ',' + matzip.x;
            routeLink.innerText = '길찾기';
            detailLink.href = matzip.matzipUrl;
            detailLink.innerText = '상세정보';
            reviewButton.href = '/review/create/' + matzip.matzipId;
            reviewButton.innerText = '리뷰 작성';

            // 리스트 타입이 'my'인 경우에만 삭제 버튼을 추가합니다.
            if (currentListType === 'my') {
                let deleteButton = document.querySelector('#placeName + a');

                // 삭제 버튼이 존재하지 않을 경우에만 생성합니다.
                if (!deleteButton) {
                    deleteButton = document.createElement('a');
                    deleteButton.innerText = '삭제';
                    deleteButton.classList.add('btn', 'btn-xs');
                    deleteButton.addEventListener('click', function () {
                        const matzipId = marker.matzipId
                        deleteMatzip(matzipId);
                    });
                    placeName.insertAdjacentElement('afterend', deleteButton);
                }
            } else {
                // 리스트 타입이 'all'인 경우, 삭제 버튼이 존재한다면 제거합니다.
                const deleteButton = document.querySelector('#placeName + a');
                if (deleteButton) {
                    deleteButton.remove();
                }
            }

            placeInfo.style.display = 'block'; // Show place info
        }

        // 리스트 타입 토글 함수
        function toggleList(listType) {
            const listBtnAll = document.getElementById("listBtnAll");
            const listBtnMy = document.getElementById("listBtnMy");

            if (listType === "all") {
                // 나의 리스트 불러오기
                loadMatzipList("/matzip/api/list", () => {
                    // 리스트 버튼 스피너를 숨깁니다
                    document.getElementById("listSpinnerMy").style.display = "none";
                    // 버튼 활성화/비활성화 클래스 토글

                    listBtnAll.classList.add("bg-blue-800", "text-white");
                    listBtnMy.classList.remove("bg-blue-800", "text-white");
                    currentListType = 'all'
                });
            } else {
                // 전체 리스트 불러오기
                loadMatzipList("/matzip/api/mylist", () => {
                    // 리스트 버튼 스피너를 숨깁니다
                    document.getElementById("listSpinnerAll").style.display = "none";
                    // 버튼 활성화/비활성화 클래스 토글
                    listBtnAll.classList.remove("bg-blue-800", "text-white");
                    listBtnMy.classList.add("bg-blue-800", "text-white");
                    currentListType = 'my'
                });
            }
        }

        function goToMatzipCreationPage() {
            window.location.href = '/matzip/create';
        };

        //조건에 맞게 검색
        function filterByNameOrType(searchName, searchType) {
            const filteredList = nonFilteredData.filter((matzip) => {
                const {matzipName, address, matzipType} = matzip

                let isNameMatched = searchName
                    ? matzipName.includes(searchName) || address.includes(searchName)
                    : true;
                let isTypeMatched = !searchType || searchType === "ALL" || matzipType === searchType;

                return isNameMatched && isTypeMatched;
            });

            loadMatzipListWithFilteredList(filteredList);
        }

        //검색 버튼 누르면 실행
        function search() {
            const searchName = document.getElementById("searchInput").value;
            const searchType = document.getElementById("matzipTypeSelect").value;
            filterByNameOrType(searchName, searchType);
        }

        function addMarkerClickEvent(marker, matzip) {
            let pageNum = 0;
            kakao.maps.event.addListener(marker, 'click', (function (marker, matzip) {
                return function () {
                    panTo(matzip.x, matzip.y);
                    showPlaceInfo(marker, matzip);
                    showInfoWindow(marker, matzip);
                    currentInfoWindow = infowindow;
                    isGotAllReviews = false;

                    if (marker.matzipId !== currentMatzipId) {
                        pageNum = 0;
                        currentReviews = [];
                        document.getElementById('reviewListContainer').innerHTML = ''; // 기존 리뷰 리스트 비우기
                        currentMatzipId = marker.matzipId;
                    }
                    if (currentListType !== currentReviewsType) {
                        pageNum = 0;
                        currentReviews = [];
                        document.getElementById('reviewListContainer').innerHTML = '';
                        currentMatzipId = marker.matzipId;
                    }
                    getReviews(marker.matzipId, pageNum);
                };
            })(marker, matzip));

            document.getElementById('reviewListContainer').addEventListener('scroll', (function (pageNum) {
                return function (e) {
                    const scrollHeight = e.target.scrollHeight;
                    const scrollTop = e.target.scrollTop;
                    const clientHeight = e.target.clientHeight;
                    const scrollPosition = scrollTop + clientHeight;
                    const scrollThreshold = scrollHeight * 0.8;

                    if (scrollPosition >= scrollThreshold && !isGotAllReviews) {
                        const matzipId = currentMatzipId;
                        pageNum += 1;
                        getReviews(matzipId, pageNum);
                    }
                };
            })(pageNum));
        }

        function showReviewList(reviews) {
            reviewList.style.display = 'block';
            const reviewListContainer = document.getElementById('reviewListContainer');
            const noReview = document.getElementById('noReview');

            if (currentReviews.length > 0 || reviews.length > 0) {
                noReview.style.display = 'none';
                reviewListContainer.style.display = 'block';
                // 리뷰 추가하기
                reviews.forEach((review) => {
                    const isDuplicate = currentReviews.some((existingReview) => existingReview.reviewId === review.reviewId);
                    if (!isDuplicate) {
                        createReviewList(review);
                        currentReviews.push(review);
                    }
                });
            } else {
                noReview.style.display = 'block';
                reviewListContainer.style.display = 'none';
            }
        }

        function getReviews(matzipId, pageNum) {
            if (!isGotAllReviews) {
                // 페이지 크기와 현재 페이지 번호를 설정합니다.
                const pageSize = 10;
                const pageNumber = pageNum;
                // 리뷰를 서버에 요청합니다.
                loadReviews(matzipId, pageNumber, pageSize);
            }
        }

        //리뷰 불러오기 (서버에 요청)
        function loadReviews(matzipId, pageNumber, pageSize) {
            let url = '';
            if (currentListType === 'all') {
                url = `/review/api/list/${matzipId}`;
                currentReviewsType = 'all';
            } else if (currentListType === 'my') {
                url = `/review/api/mylist/${matzipId}`;
                currentReviewsType = 'my';
            }
            url += `?pageNumber=${pageNumber}&pageSize=${pageSize}`;

            fetch(url)
                .then((response) => response.json())
                .then((reviews) => {
                    const reviewContent = reviews.content;
                    showReviewList(reviewContent);
                    if (reviewContent.length < pageSize) {
                        isGotAllReviews = true;
                    } else {
                        isGotAllReviews = false;
                    }
                })
                .catch((error) => {
                    isGotAllReviews = false;
                });
        }

        function createReviewList(review) {

            const reviewListContainer = document.getElementById('reviewListContainer');

            // 1. 전체 리뷰 컨테이너 생성
            const reviewContainer = document.createElement('div');
            reviewContainer.classList.add('mt-3');

            // 2. 사용자 프로필 이미지와 정보 컨테이너 생성
            const userProfileWrapper = document.createElement('div');
            userProfileWrapper.classList.add('flex', 'items-center', 'gap-2');

            // 사용자 프로필 이미지 추가
            const profileImg = document.createElement('img');
            profileImg.src = review.profileImageUrl;
            profileImg.classList.add('w-14', 'h-14', 'rounded-full', 'border', 'border-gray-100');
            userProfileWrapper.appendChild(profileImg);

            // 사용자 정보를 포함할테이너 생성
            const userInfoContainer = document.createElement('div');
            userInfoContainer.classList.add('flex', 'flex-col', 'flex-grow');

            // 3. 사용자 정보(닉네임, 작성 시간 등) 생성 및 추가
            const nameDateWrapper = document.createElement('div');
            nameDateWrapper.classList.add('flex', 'justify-between', 'items-center');
            userInfoContainer.appendChild(nameDateWrapper);

            const userDateDiv = document.createElement('div');
            userDateDiv.classList.add('flex', 'space-x-2');
            nameDateWrapper.appendChild(userDateDiv);

            // 사용자 닉네임 추가
            const userNickname = document.createElement('span');
            userNickname.classList.add('text-md');
            userNickname.innerText = review.authorNickname;
            userDateDiv.appendChild(userNickname);

            // 글 작성 시간 추가
            const createDate = new Date(review.createDate);
            const dateFormatOptions = {month: 'numeric', day: 'numeric', weekday: 'short'};
            const formattedDate = new Intl.DateTimeFormat('ko-KR', dateFormatOptions).format(createDate);

            const createDateSpan = document.createElement('span');
            createDateSpan.classList.add('text-xs', 'flex', 'items-end');
            createDateSpan.innerText = formattedDate;
            userDateDiv.appendChild(createDateSpan);

            // 4. 친구 추가 버튼 생성 및 추가
            const friendAddButton = document.createElement('button');
            friendAddButton.classList.add('mx-3', 'btn', 'btn-xs', 'btn-info');
            friendAddButton.innerHTML = '<i class="fa-solid fa-plus"></i>친구';
            nameDateWrapper.appendChild(friendAddButton);

            // 5. 사용자 추가 정보(등록 맛집, 작 리뷰, 친구 수) 생성 및 추가
            const userAdditionalInfo = document.createElement('div');
            userInfoContainer.appendChild(userAdditionalInfo);

            const registeredRestaurants = document.createElement('span');
            registeredRestaurants.classList.add('text-xs', 'mr-2', 'text-gray-500');
            registeredRestaurants.innerText = '맛집 ' + review.matzipCount;
            userAdditionalInfo.appendChild(registeredRestaurants);

            const writtenReviews = document.createElement('span');
            writtenReviews.classList.add('text-xs', 'mr-2', 'text-gray-500');
            writtenReviews.innerText = '리뷰 ' + review.reviewCount;
            userAdditionalInfo.appendChild(writtenReviews);

            const friendCount = document.createElement('span');
            friendCount.classList.add('text-xs', 'mr-2', 'text-gray-500');
            friendCount.innerText = '친구 ' + review.friendCount;
            userAdditionalInfo.appendChild(friendCount);
            userAdditionalInfo.appendChild(friendCount);

            // 사용자 정보 컨테이너를 프로필 이미지 컨테이너에 추가
            userProfileWrapper.appendChild(userInfoContainer);
            // 사용자 정보와 프로필 이미지 컨테이너를 전체 리뷰 컨테이너에 추가
            reviewContainer.appendChild(userProfileWrapper)

            // 6. 리뷰 내용 및 추가
            const reviewContentWrapper = document.createElement('div');
            reviewContentWrapper.classList.add('mt-3', 'flex', 'justify-between');
            reviewContainer.appendChild(reviewContentWrapper);

            const reviewContent = document.createElement('a');
            reviewContent.setAttribute('href', 'review/detail/' + review.reviewId);

            reviewContent.classList.add('break-all');
            reviewContent.innerText = review.content;
            reviewContentWrapper.appendChild(reviewContent);

            // 7. 리뷰 이미지와 이미지 개수 추가 (리뷰 이미지가 없을 경우 제외하고 출력)
            if (review.reviewImageCount !== 0) {
                const reviewImageContainer = document.createElement('div');
                reviewImageContainer.classList.add('mt-2', 'mb-2', 'mr-3', 'relative', 'w-32', 'h-32', 'flex', 'justify-end');
                reviewContentWrapper.appendChild(reviewImageContainer);

                const reviewImage = document.createElement('img');
                reviewImage.src = review.reviewImageUrl;
                reviewImage.classList.add('top-0', 'left-0', 'w-32','object-cover', 'rounded');
                reviewImage.style.maxWidth = "200px";
                reviewImageContainer.appendChild(reviewImage);

                const imageCount = document.createElement('div');
                imageCount.classList.add('absolute', 'bottom-0', 'right-0', 'text-white', 'text-opacity-80', 'p-1', 'text-sm', 'bg-black', 'bg-opacity-30');
                imageCount.innerText = review.reviewImageCount;
                reviewImageContainer.appendChild(imageCount);
            }
            // 8. 리뷰 리스트 컨테이너에 전체 리뷰 컨테이너 추가
            const hr = document.createElement('hr')
            reviewContainer.appendChild(hr);
            reviewListContainer.appendChild(reviewContainer);
        }

        //지도 이동 메서드
        function panTo(markerX, markerY) {
            var moveLatLon = new kakao.maps.LatLng(markerY, markerX);
            map.panTo(moveLatLon);
        }

        //맛집 삭제 메서드
        function deleteMatzip(matzipId) {
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;

            // 서버에 맛집 삭제 요청을 보냅니다.
            fetch(`/matzip/api/delete/${matzipId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                }
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        toastNotice('맛집이 삭제되었습니다.');
                    } else {
                        toastWarning('맛집 삭제에 실패했습니다.');
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    </script>
</main>
</body>
</html>