<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <meta charset="utf-8">
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <title>Matzip</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #map {
            position: relative;
            width: 90vw;
            height: 90vh;
        }

        #placeInfo {
            display: none;
            position: absolute;
            width: 350px;
            top: 10px;
            right: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

        #placeInfo h2 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        #placeInfo p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
<main layout:fragment="Content">

    <div id="map">
        <div id="placeInfo">
            <h2 id="placeName">맛집 이름</h2>
            <p id="placeAddress">주소</p>
            <p id="placePhone">전화번호</p>
            <p id="placeDescription">설명</p>
            <p id="placeRating">내 평점</p>
            <a class="inline-block w-full py-1 px-4 rounded-3xl text-center bg-gray-100 shadow mb-2" id="mapLink"
               target="_blank">큰지도 보기</a>
            <br>
            <a class="inline-block w-full py-1 px-4 rounded-3xl text-center bg-gray-100 shadow mb-2" id="routeLink"
               target="_blank">길찾기</a>
            <br>
            <a class="inline-block w-full py-1 px-4 rounded-3xl text-center bg-gray-100 shadow mb-2" id="detailLink"
               target="_blank">상세정보</a>
            <br>
            <a class="mb-4 inline-block w-full py-1 px-4 rounded-3xl text-center bg-gray-100 shadow mb-1" id="reviewButton">리뷰
                등록</a>
            <hr>
            <div id="reviewList" class="mt-3">
                <span class="text-lg"><i class="fa-solid fa-street-view"></i> 리뷰</span>
                <div id="noReview" style="display: block;">리뷰가 없습니다.</div>
                <ul id="reviewListContainer" style="display: none;"></ul>
            </div>
        </div>
    </div>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=868d9aa6d8d0e67bad6c59729809c3fa"></script>
    <script>
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(37.56682, 126.97865),
                level: 3,
                mapTypeId: kakao.maps.MapTypeId.ROADMAP
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var imageSrc = "https://ifh.cc/g/64zAsK.png";
        var imageSize = new kakao.maps.Size(36, 37);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
        var currentInfoWindow = null;

        var placeInfo = document.getElementById('placeInfo');
        var reviewList = document.getElementById('reviewList')
        var placeName = document.getElementById('placeName');
        var placeAddress = document.getElementById('placeAddress');
        var placePhone = document.getElementById('placePhone');
        var placeDescription = document.getElementById('placeDescription');
        var placeRating = document.getElementById('placeRating')
        var mapLink = document.getElementById('mapLink');
        var routeLink = document.getElementById('routeLink');
        var detailLink = document.getElementById('detailLink');
        var reviewButton = document.getElementById('reviewButton');


        //지도 영역 외의 다른 부분을 클릭했을 때 placeInfo를 숨깁니다.
        document.addEventListener('click', function (event) {
            var target = event.target;
            var mapContainer = document.getElementById('map');
            var placeInfo = document.getElementById('placeInfo');

            var reviewList = document.getElementById('reviewList');
            if (target !== mapContainer && !mapContainer.contains(target) && target !== placeInfo && !placeInfo.contains(target)) {
                placeInfo.style.display = 'none'; // Hide place info
                reviewList.style.display = 'none';

            }
        });

        // 서버에 matzip 정보를 요청합니다
        fetch('/matzip/api/list')
            .then(response => response.json())
            .then(data => {
                // 각 맛집 정보에 대해서 반복 처리를 합니다
                data.forEach(matzipReviewDto => {
                    const matzip = matzipReviewDto.matzipListDTO;
                    const reviews = matzipReviewDto.reviewListDTOs;

                    // 해당 위치에 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(matzip.y, matzip.x),
                        title: matzip.matzipName,
                        image: markerImage,
                    });
                    marker.matzipId = matzip.id;

                    // 정보창에 표시할 내용을 설정합니다
                    var iwContent;
                    if (matzip.matzipName.length > 9) {
                        iwContent = '<div style="padding:5px; overflow-wrap: break-word; font-size:0.8em;">' + matzip.matzipName + '</div>';
                    } else {
                        iwContent = '<div style="padding:5px; overflow-wrap: break-word;">' + matzip.matzipName + '</div>';
                    }

                    // 정보창을 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: iwContent
                    });

                    let currentReviews = [];

                    // 마커에 클릭 이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function () {
                        if (currentInfoWindow) {
                            currentInfoWindow.close();
                        }
                        infowindow.open(map, marker);
                        currentInfoWindow = infowindow;
                        // 장소 정보를 업데이트합니다.
                        placeName.innerText = matzip.matzipName;
                        placeAddress.innerText = '주소: ' + matzip.address;
                        placePhone.innerText = '전화번호: ' + matzip.phoneNumber;
                        placeDescription.innerText = '설명: ' + matzip.description;
                        placeRating.innerText = '내 평점: ' + matzip.rating;
                        mapLink.href = 'https://map.kakao.com/link/map/' + matzip.matzipName + ',' + matzip.y + ',' + matzip.x;
                        mapLink.innerText = '큰지도보기';
                        routeLink.href = 'https://map.kakao.com/link/to/' + matzip.matzipName + ',' + matzip.y + ',' + matzip.x;
                        routeLink.innerText = '길찾기';
                        detailLink.href = matzip.matzipUrl;
                        detailLink.innerText = '상세정보';
                        placeInfo.style.display = 'block'; // Show place info

                        reviewList.style.display = 'block'

                        currentReviews = reviews.filter(review => review.matzipId === marker.matzipId);
                        // 리뷰 목록을 업데이트합니다.
                        const reviewListContainer = document.getElementById('reviewListContainer');
                        const noReview = document.getElementById('noReview');

                        reviewListContainer.innerHTML = ''; // 이전에 표시된 리뷰 목록 초기화

                        if (reviews.length > 0) {
                            noReview.style.display = 'none';
                            reviewListContainer.style.display = 'block';
                            //리뷰 반복문 (review x: reviews) 랑 같은거
                            reviews.forEach((review) => {
                                const mt3 = document.createElement('div');
                                mt3.classList.add('mt-3');

                                const flexItemsCenter = document.createElement('div');
                                flexItemsCenter.classList.add('flex', 'items-center', 'gap-2');
                                // 작성자 프로필 사진
                                // TODO
                                const img = document.createElement('img');
                                img.src = 'https://placekitten.com/408/287';
                                img.classList.add('w-14', 'h-14', 'rounded-full', 'border', 'border-gray-100');
                                flexItemsCenter.appendChild(img);

                                const flexFlexCol = document.createElement('div');
                                flexFlexCol.classList.add('flex', 'flex-col', 'flex-grow');

                                const nameDateWrapper = document.createElement('div');
                                nameDateWrapper.classList.add('flex', 'justify-between', 'items-center');
                                flexFlexCol.appendChild(nameDateWrapper);
                                // 작성자 닉네임
                                // TODO
                                const textLg = document.createElement('span');
                                textLg.classList.add('text-lg');
                                textLg.innerText = 'User1 ';
                                nameDateWrapper.appendChild(textLg);
                                // 글 작성 시간
                                // 문자열을 Date 객체로 변환
                                const dateObj = new Date(review.createDate);
                                // 월(M)과 일(D)을 포맷팅
                                const monthDayFormat = new Intl.DateTimeFormat('ko-KR', { month: 'numeric', day: 'numeric' });
                                const monthDay = monthDayFormat.format(dateObj);
                                // 요일(d)을 포맷팅
                                const weekdayFormat = new Intl.DateTimeFormat('ko-KR', { weekday: 'short' });
                                const weekday = weekdayFormat.format(dateObj);
                                // 원하는 형식으로 문자열 조합
                                const formattedDate = `${monthDay} ${weekday}`;
                                // 요소를 생성하고 포맷팅된 날짜를 적용
                                const textXsDate = document.createElement('span');
                                textXsDate.classList.add('text-xs');
                                textXsDate.innerText = formattedDate;
                                textLg.appendChild(textXsDate);

                                // 친구 추가 버튼
                                // TODO
                                const addButton = document.createElement('button');
                                addButton.classList.add('mx-3', 'btn', 'btn-xs', 'btn-info');
                                addButton.innerHTML = '<i class="fa-solid fa-plus"></i>친구';
                                nameDateWrapper.appendChild(addButton);

                                const infoWrapper = document.createElement('div');
                                flexFlexCol.appendChild(infoWrapper);
                                // 등록 맛집 출력
                                // TODO
                                const textXs1 = document.createElement('span');
                                textXs1.classList.add('text-xs');
                                textXs1.innerText = '맛집 7';
                                infoWrapper.appendChild(textXs1);
                                // 작성 리뷰 출력
                                // TODO
                                const textXs2 = document.createElement('span');
                                textXs2.classList.add('text-xs');
                                textXs2.innerText = '리뷰 8';
                                infoWrapper.appendChild(textXs2);
                                // 친구 수 출력
                                // TODO
                                const textXs3 = document.createElement('span');
                                textXs3.classList.add('text-xs');
                                textXs3.innerText = '친구 119';
                                infoWrapper.appendChild(textXs3);

                                flexItemsCenter.appendChild(flexFlexCol);
                                mt3.appendChild(flexItemsCenter);

                                const mt3ReviewContent = document.createElement('div');
                                mt3ReviewContent.classList.add('mt-3');
                                mt3.appendChild(mt3ReviewContent);
                                // 리뷰 내용
                                const reviewText = document.createElement('span');
                                reviewText.classList.add('break-words');
                                reviewText.innerText = review.content;
                                mt3ReviewContent.appendChild(reviewText);
                                // 최종으로 넣기
                                reviewListContainer.appendChild(mt3);
                            });
                        } else {
                            noReview.style.display = 'block';
                            reviewListContainer.style.display = 'none';
                        }
                        reviewButton.href = `/review/create/${place.matzipId}`;
                    });
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    </script>
</main>
</body>
</html>