/* myPage TabMenu CSS */
ul{list-style:none;}

.tabmenu{
    margin: 0 auto;
    position:relative;
}

.tabmenu ul{
    position: relative;
}

.tabmenu ul li{
    flex: 1;
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    background : #F8E0F1;
    line-height: 40px;
    border-radius: 1rem;
}

.tabCon{
    display:none;
    width: 100%;
    text-align:left;
    padding: 20px;
    position:absolute;
    left:0; top:50px;
    box-sizing: border-box;
    border : 5px solid #F8E0F1;
    border-radius: 1rem;
}

.tabmenu input:checked ~ .tabCon{
    display:block;
}