<div class="flex flex-col w-full">
    <div class="flex p-3 border-b border-gray-400 items-center">
        <div class="flex-grow">
            <span class="font-bold text-xl"><i class="fa-regular fa-bell"></i> 알림</span>
        </div>
        <div class="flex-shrink-0 btn-group">
            <button id="friendBtn" type="button" onclick="toggleButtons('friendBtn', 'reviewBtn')" class="btn btn-primary btn-sm">친구</button>
            <button id="reviewBtn" type="button" onclick="toggleButtons('reviewBtn', 'friendBtn')" class="btn btn-sm">리뷰</button>
        </div>
    </div>
    <div id="content"></div>
</div>