<html lang="en">
<head>
    <th:block th:replace="common/fragments/config :: ConfigFragment"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title></title>
    <style>
        /*body {*/
        /*    background-image: url(https://media0.giphy.com/media/DRI4dtTDzY3Kw/giphy.gif);*/
        /*    background-size: cover;*/
        /*    background-repeat: no-repeat;*/
        /*    background-position: center center;*/
        /*}*/
    </style>
</head>
<body class="min-h-screen flex flex-col">

<!--Header 영역을 참조합니다.-->
<header th:replace="common/fragments/header :: HeaderFragment"></header>

<div class="mx-auto min-h-xl">
    <!-- Notification Modal -->
    <div id="notificationModal" class="notificationModal hidden text-black">
        <div class="flex flex-col notificationModal-content justify-start">
            <div id="notificationModalContent">
                <!-- 모달창 안에 내용 -->
            </div>
        </div>
    </div>
</div>

<!--Content 내용 영역을 참조합니다-->
<!-- class="flex-1 pt-12" Navbar의 고정으로 인해 z-50(header에 기능 안곂치게 하기위해 부여) pt-12로 Navbar 밑으로 간격 맞춤-->
<main layout:fragment="Content" class="flex-1 pt-20"></main>

<script th:inline="javascript">
    // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else if (!document.referrer) {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>

<script>
    function closeModal() {
        const modal = document.getElementById("notificationModal");
        modal.classList.add("hidden");
    }

    function loadContent(url, contentId) {
        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                const content = document.getElementById(contentId);
                content.innerHTML = data;
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    const openModalButton = document.getElementById("notificationModalBtn");
    if (openModalButton != null) {
        openModalButton.onclick = function () {

            const modal = document.getElementById("notificationModal");

            // 이미 열려있는 경우, 모달을 닫음
            if (!modal.classList.contains("hidden")) {
                closeModal();
                return false;
            }

            // 콘텐츠 로드 및 모달 열기
            loadContent("/usr/notification/list", "notificationModalContent");
            loadContent("/friends/list", "content");
            modal.classList.remove("hidden");

            // 모달창 이외의 곳을 클릭하면 모달창을 닫음
            modal.onclick = function (event) {
                if (event.target === modal) {
                    closeModal();
                }
            };
        }
    }

    // 모달창 내 알림 토글 버튼
    function toggleButtons(activeId, inactiveId) {
        let activeBtn = document.getElementById(activeId);
        let inactiveBtn = document.getElementById(inactiveId);

        // 설정된 아이디가 있는 경우에만 클래스를 추가/삭제합니다.
        if (activeBtn && inactiveBtn) {
            activeBtn.classList.add('btn-primary');
            inactiveBtn.classList.remove('btn-primary');
        }

        if (activeId === 'friendBtn') { // 친구 버튼 활성화
            loadContent("/friends/list", "content");
        } else { // 리뷰 버튼 활성화
            loadContent("/usr/notification/reviewList", "content");
        }
    }

    // 클릭 이벤트 핸들러 함수
    function EyeIconClick(el) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        const notificationId = $(el).attr("data-id");
        if (notificationId) {
            // Ajax 요청 설정
            $.ajax({
                type: "POST",
                url: "/usr/notification/readNotification",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    notificationId: notificationId
                },
                dataType: "text",
                success: function (result) {
                    if (result === 'success') {
                        const newHtml = '<i class="fa-regular fa-eye-slash"></i>'
                        $(el).html(newHtml)
                    } else {
                        toastWarning('해당 알림이 없습니다.');
                    }
                }
            });
        }
    }

    function TrashCanIconClick(el) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        const notificationId = $(el).attr("data-id");
        const reviewBtn = document.getElementById("reviewBtn");
        if (notificationId) {
            // Ajax 요청 설정
            $.ajax({
                type: "POST",
                url: "/usr/notification/deleteNotification",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    notificationId: notificationId
                },
                dataType: "text",
                success: function (result) {
                    if (result === 'success') {
                        reviewBtn.click();
                        toastNotice('해당 알림이 삭제되었습니다.')
                    } else {
                        toastWarning('해당 알림이 없습니다.');
                    }
                }
            });
        }
    }

    function AllDelete(el) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        const deleteType = parseInt($(el).attr("data-id"));
        const reviewBtn = document.getElementById("reviewBtn");
        if (deleteType) {
            // Ajax 요청 설정
            $.ajax({
                type: "POST",
                url: "/usr/notification/allDelete",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: {
                    deleteType: deleteType
                },
                dataType: "text",
                success: function (result) {
                    if (result === 'success') {
                        reviewBtn.click();
                        toastNotice('해당 알림이 모두 삭제되었습니다.')
                    } else {
                        toastWarning('삭제하지 못 했습니다.');
                    }
                }
            });
        }
    }
</script>

</body>

</html>