<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <title>Ranking</title>
</head>

<body>

<main layout:fragment="Content">
    <div class="mx-auto max-w-5xl">
        <div class="flex flex-col">
            <div class="flex justify-center space-x-4">
                <i class="fa-solid fa-trophy text-yellow-300 text-4xl"></i>
                <span id="subject" class="text-4xl">맛집 랭킹</span>
            </div>
            <div class="flex justify-end mt-10">
                <div class="btn-group rounded-md border border-blue-200 ml-12">
                    <button class="btn-sm bg-blue-800 text-white rounded-md py-1 px-3 space-x-2 mr-2"
                            data-list-type="맛집"
                            id="listBtnMatzip"
                            onclick="toggleList('맛집')">
                        맛집
                    </button>

                    <button class="btn-sm rounded-md py-1 px-3 space-x-2"
                            data-list-type="유저"
                            id="listBtnUser"
                            onclick="toggleList('유저')">
                        유저
                    </button>
                </div>
            </div>
        </div>
        <!-- Matzip Ranking -->
        <div id="matzip" class="flex justify-center" style="display: block">
            <div class="flex flex-col w-full">
                <div class="mt-5">
                    <table class="table text-center">
                        <colgroup>
                            <col width="70">
                            <col>
                            <col width="200">
                            <col width="120">
                            <col width="120">
                            <col width="120">
                        </colgroup>
                        <thead>
                        <tr class="bg-blue-100">
                            <th>순위</th>
                            <th>맛집명</th>
                            <th>평점</th>
                            <th>리뷰수</th>
                            <th>맛집 등록 수</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="matzip, loop : ${matzipRankDTOS}" class="h-20">
                            <td th:text="${loop.count}"></td>
                            <td th:text="${matzip.matzipName}"></td>
                            <td>
                                <i class="fa-solid fa-star text-yellow-300"></i>
                                <span th:text="${#numbers.formatDecimal(matzip.averageRating, 1, 2)}"></span>
                            </td>
                            <td th:text="${matzip.reviewCount}"></td>
                            <td th:text="${matzip.userCount}"></td>
                            <td>
                                <a target="_blank" th:href="${matzip.matzipUrl}"
                                   class="btn btn-sm bg-blue-800 text-white rounded-md">
                                    상세보기
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- User Ranking -->
        <div id="user" class="flex justify-center mx-auto max-w-5xl" style="display: none">
            <div class="flex flex-col w-full">
                <div class="mt-5">
                    <table class="table text-center">
                        <colgroup>
                            <col width="70">
                            <col width="270">
                            <col>
                            <col width="120">
                        </colgroup>
                        <thead>
                        <tr class="bg-blue-100">
                            <th>순위</th>
                            <th>유저명</th>
                            <th>보유 뱃지</th>
                            <th>포인트</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="member, loop : ${memberRankDtoList}" class="h-20">
                            <td th:text="${loop.count}"></td>
                            <td>
                                <div class="flex items-center space-x-3 ml-4">
                                    <div class="avatar">
                                        <div class="mask mask-squircle w-12 h-12">
                                            <img th:src="${member.profileImageUrl}" alt=""/>
                                        </div>
                                    </div>
                                    <div>
                                        <button id="author"
                                                onclick="profile_modal.showModal();getProfile(this.textContent)"
                                                class="whitespace-nowrap overflow-x-hidden overflow-ellipsis"
                                                th:text="${member.nickname}"></button>
                                    </div>
                                </div>
                            </td>
                            <td class="flex flex-wrap justify-center">
                                <div th:each="badge : ${member.badgeImage}">
                                    <img th:src="${badge.key}" class="w-14 h-14 rounded-full mr-1"
                                         th:title="${badge.value}">
                                </div>
                            </td>
                            <td class="" th:text="${member.point}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile_modal -->
    <dialog id="profile_modal" class="modal">
        <form method="dialog" class="modal-box" style="width: 400px; overflow-y: auto;">
            <div class="flex justify-end">
                <button class="btn btn-xs btn-outline">X</button>
            </div>
            <div class="flex flex-wrap gap-4">
                <img id="modal-profile-image" src="" class="border-2 border-gray-100"
                     style="width: 70px; height: 70px; border-radius: 50%;">
                <section class="flex flex-col justify-center">
                    <span class="text-lg" id="modal-userNickname"></span>
                </section>
            </div>
            <br>
            <hr>
            <br>
            <div class="flex flex-wrap justify-between">
                <section class="flex flex-col">
                    <span class="flex justify-center font-bold" id="modal-matzip-count">0</span>
                    <span class="text-sm">맛집</span>
                </section>

                <section class="flex flex-col">
                    <span class="flex justify-center font-bold" id="modal-review-count">0</span>
                    <span class="text-sm">리뷰</span>
                </section>

                <section class="flex flex-col">
                    <span class="flex justify-center font-bold" id="modal-point">0</span>
                    <span class="text-sm">포인트</span>
                </section>

                <section class="flex flex-col">
                    <span class="flex justify-center font-bold" id="modal-friend-count">0</span>
                    <span class="text-sm">친구</span>
                </section>
            </div>
        </form>
    </dialog>

    <script>
        function getProfile(nickname) {
            $.ajax({
                type: "GET",
                url: "/usr/member/getProfile",
                data: {nickname: nickname},
                success: function (response) {
                    // 프로필 정보를 성공적으로 가져왔을 때 처리할 로직
                    const profileImageUrl = response.profileImageUrl;
                    const nickname = response.nickname;
                    const createDate = response.formattedCreateDate;
                    const matzipCount = response.matzipCount;
                    const reviewCount = response.reviewCount;
                    const point = response.point;
                    //const friendCount = response.modal-friend-count;

                    // 가져온 프로필 정보를 원하는 대로 처리합니다. (콜백방식)
                    $('#modal-profile-image').attr('src', profileImageUrl);
                    $('#modal-userNickname').text(nickname);
                    $('#modal-createDate').text(createDate);
                    $('#modal-matzip-count').text(matzipCount);
                    $('#modal-review-count').text(reviewCount);
                    $('#modal-point').text(point);
                    //$('#modal-friend-count').text(friendCount);
                },
                error: function (error) {
                    console.error('Error retrieving profile:', error);
                }
            });
        }

        // 리스트 타입 토글 함수
        function toggleList(listType) {
            const listBtnMatzip = document.getElementById("listBtnMatzip");
            const listBtnUser = document.getElementById("listBtnUser");

            const matzipRank = document.getElementById("matzip");
            const userRank = document.getElementById("user");

            const subject = document.getElementById("subject")
            if (listType === "맛집") {
                // 버튼 활성화/비활성화 클래스 토글
                listBtnMatzip.classList.add("bg-blue-800", "text-white");
                listBtnUser.classList.remove("bg-blue-800", "text-white");

                matzipRank.style.display = "block";
                userRank.style.display = "none";
                subject.textContent = "맛집 랭킹";

            } else {
                // 버튼 활성화/비활성화 클래스 토글
                listBtnMatzip.classList.remove("bg-blue-800", "text-white");
                listBtnUser.classList.add("bg-blue-800", "text-white");

                matzipRank.style.display = "none";
                userRank.style.display = "block";
                subject.textContent = "유저 랭킹";
            }
        }
    </script>
</main>
</body>

</html>