<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">
<head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<main layout:fragment="Content">
    <script>
        const loginFormInputUsernameValueMinLength = 4;
        const loginFormInputPasswordValueMinLength = 4;

        function LoginForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length === 0) {
                toastWarning($("#msg-loginFormNeedInputUsername").text());
                form.username.focus();
                return;
            }

            if (form.username.value.length < loginFormInputUsernameValueMinLength) {
                toastWarning($("#msg-loginFormNeedInputUsernameMoreThan").text());
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length === 0) {
                toastWarning($("#msg-loginFormNeedInputPassword").text());
                form.password.focus();
                toastWarning(msgNeedInputPassword);
                return;
            }

            if (form.password.value.length < loginFormInputPasswordValueMinLength) {
                toastWarning($("#msg-loginFormNeedInputPasswordMoreThan").text());
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span th:text="로그인페이지"></span>
        </h1>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="LoginForm__submit(this); return false;">
            <th:block th:if="${@rq.refererAdminPage or param.admin != null}">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">
                            <i class="fa-regular fa-id-badge"></i>
                            <span th:text="유저id"></span>
                        </span>
                    </label>
                    <input type="text" name="username" th:placeholder="유저id"
                           class="input input-bordered" autofocus/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">
                            <i class="fa-solid fa-key"></i>
                            <span th:text="패스워드"></span>
                        </span>
                    </label>
                    <input type="password" name="password" th:placeholder="패스워드"
                           class="input input-bordered"/>
                </div>

                <button id="btn-login-1" class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span class="normal-case" th:text="로그인"></span>
                </button>
            </th:block>

            <a href="/oauth2/authorization/kakao" class="btn btn-block btn-outline gap-1">
                <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
                <span class="normal-case" th:text="카카오로그인"></span>
            </a>
        </form>
    </div>
</main>
</body>

</html>