<!DOCTYPE html>
<html layout:decorate="~{common/layout/defaultLayout.html}">

<head>
    <title>마이 페이지</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- tabMenu CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/tabmenu.css">
</head>

<body>

<main layout:fragment="Content">
    <div class="flex justify-center mx-auto max-w-5xl">
        <div class="flex flex-col w-full">
            <div class="p-3 border-b border-gray-400">
                <span class="font-bold text-xl"><i class="fa-regular fa-user"></i> 마이 페이지</span>
            </div>
            <div class="card card-side bg-base-100 shadow-xl h-80 mt-5">
                <figure>
                    <div class="w-80 flex justify-center items-center">
                        <img th:src="${memberInfoDTO.profileImageUrl}" class="w-72 h-72 object-contain"/>
                    </div>
                </figure>
                <div class="card-body">
                    <div class="flex items-center">
                        <span class="mr-3 text-xl font-bold" th:text="${memberInfoDTO.nickname}"></span>
                        <div class="flex flex-grow">
                            <div th:each="badge : ${memberInfoDTO.badgeImage}">
                                <img th:src="${badge.key}" class="w-7 h-7 rounded-full mr-1" th:title="${badge.value}">
                            </div>
                        </div>
                        <div class="dropdown dropdown-left">
                            <label tabindex="0" class="btn btn-xs bg-pink-200 hover:bg-pink-300 m-1">
                                <i class="fa-solid fa-gear"></i>Edit
                            </label>
                            <ul tabindex="0" class="dropdown-content menu p-2 shadow rounded-box w-52">
                                <li>
                                    <a href="/usr/member/myPage/modifyNickname">
                                        <i class="fa-solid fa-user-pen"></i>닉네임 변경
                                    </a>
                                </li>
                                <li>
                                    <a href="/usr/member/myPage/modifyProfileImage">
                                        <i class="fa-regular fa-image"></i>프로필 이미지 변경
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p th:text="${memberInfoDTO.email}"></p>
                    <div class="flex gap-10 h-full mt-10">
                        <div class="bg-base-100 rounded-xl shadow-xl transform hover:scale-110 transition-transform duration-300 cursor-pointer">
                            <div class="flex flex-col justify-center items-center h-full w-32">
                                <div class="bg-pink-200 rounded-t-xl flex justify-center items-center w-full flex-grow text-3xl">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="flex justify-center items-center w-full flex-grow">
                                    <h2 class="card-title">16</h2>
                                </div>
                            </div>
                        </div>
                        <div class="bg-base-100 rounded-xl shadow-xl transform hover:scale-110 transition-transform duration-300 cursor-pointer">
                            <div class="flex flex-col justify-center items-center h-full w-32">
                                <div class="bg-pink-200 rounded-t-xl flex justify-center items-center w-full flex-grow text-3xl">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                                <div class="flex justify-center items-center w-full flex-grow">
                                    <h2 class="card-title">20</h2>
                                </div>
                            </div>
                        </div>
                        <div class="bg-base-100 rounded-xl shadow-xl transform hover:scale-110 transition-transform duration-300 cursor-pointer">
                            <div class="flex flex-col justify-center items-center h-full w-32">
                                <div class="bg-pink-200 rounded-t-xl flex justify-center items-center w-full flex-grow text-3xl">
                                    <i class="fa-solid fa-user-group"></i>
                                </div>
                                <div class="flex justify-center items-center w-full flex-grow">
                                    <h2 class="card-title">26</h2>
                                </div>
                            </div>
                        </div>
                        <div class="bg-base-100 rounded-xl shadow-xl transform hover:scale-110 transition-transform duration-300 cursor-pointer">
                            <div class="flex flex-col justify-center items-center h-full w-32">
                                <div class="bg-pink-200 rounded-t-xl flex justify-center items-center w-full flex-grow text-3xl">
                                    <i class="fa-solid fa-coins"></i>
                                </div>
                                <div class="flex justify-center items-center w-full flex-grow">
                                    <h2 class="card-title">5,000</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <!-- tab menu -->
                    <div class="flex flex-grow">
                        <div class="tabmenu-container w-full">
                            <div class="tabmenu out-tabmenu">
                                <ul>
                                    <li id="tab1" class="btnCon">
                                        <input type="radio" checked name="tabmenu" id="tabmenu1">
                                        <label for="tabmenu1" class="font-bold">내가 작성한 리뷰</label>
                                        <div class="tabCon">
                                            <div layout:fragment="content" class="mt-4"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

</body>

</html>